@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.login {
    background-color: #8BE3FF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #8BE3FF;
    color: black;
}

.sun {
    position: relative;
    width: 429px;
    height: 396px;
    top: -272px;
    left: 1405px;
}

.cloud1 {
    position: relative;
    width: 245px;
    height: 145px;
    top: -379px;
    left: -252px;
}

.cloud2 {
    position: relative;
    width: 243px;
    height: 141px;
    top: -157px;
    left: 492px;
}

.MainTitle {
    position: relative;
    font-family: 'Lilita One';
    font-size: 140px;
    color: white;
    top: -284px;
    right: 358px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.accessAccount {
    position: relative;
    right: 755px;
}

.about {
    position: relative;
    width: 30px;
    height: 30px;
    top: 418px;
    left: 40px;
}

.inputEmail {
    display: flex;
    align-items: center;
    padding: 3px;
    width: 98%;
    height: 50px;
}

.inputEmail svg {
    font-size: 42px;
}

.inputEmail input {
    background-color: #C6F5FF;
    width: 100%;
    outline-width: 0;
    color: black;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
}

.inputPassword {
    display: flex;
    align-items: center;
    padding: 3px;
    width: 98%;
    height: 50px;
}

.inputPassword svg {
    font-size: 40px;
}

.inputPassword input {
    background-color: #C6F5FF;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    margin-right: -25px;
    height: 30px;
}

.login button {
    background-color: #C6F5FF;
    color: black;
    font-weight: 750;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    outline-width: 0;
    margin: 3px;
}

.login button:hover {
    background-color: #DFDFDF;
    color: #3F3F3F;
    cursor: pointer;
}

.login-eye {
    align-items: center;
    justify-content: center;
    font-size: 30;
    cursor: pointer;
}
