@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lilita+One&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lilita+One&display=swap');

/* Tentei seguir uma padrão seguindo o ritmo do código, ou seja, 
para ir acompanhando o css, basta ler os o código de cima para baixo*/

body {
  background-color: #8be4ff;
}

.perfil {
  text-align: center;
  margin: auto;
}

nav#Navbar_Perfil {
  font-family: Arial, sans-serif;
  flex-flow: nowrap;
  display: flex;
  background-color: #ffffff;
  text-align: left;
  justify-content: left;
  height: 11.2em;
  width: 100%;
}

.Area_Info_Perfil {
  flex-flow: row wrap;
  width: 23%;
  background-color: #ffffff;
  display: flex;
}

div#Area_Img_Perfil {
  width: 50px;
}

.Img_Perfil {
  margin: 0.7em 0.6em;
  width: 150px;
  height: 150px;
}

.Area_Name_Points_Perfil {
  margin: 15px auto;
  padding-left: 5em;
  display: block;
  align-items: center;
}

p, a {
  font-family: 'Lobster', cursive;
}

p#Name_Perfil {
  font-size: 26px;
  font-weight: 500;
}

p#Total_Stars_Perfil {
  vertical-align: middle;
  align-items: center;
  font-size: 19px;
}

.Options_Nav_Perfil {
  display: flex;
  width: 60%;
  background-color: #ffffff;
  border-left: 3px solid #000000;
}

nav#Navbar_Perfil ul#Opt_Nav_Perfil {
  list-style: none; 
  position: absolute;
  top: -1.04em;
  left: 18.8em;
}

nav#Navbar_Perfil li {
  height: 11.1em;
  width: 12em;
  display: inline-block;
}

.Opt_Home_Perfil, .Opt_Perfil, .Opt_a_Quit_Perfil {
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: #000000;
}

.Opt_Home_Perfil, .Opt_Perfil {
  width: 5.2em;
  height: 5.2em;
  padding-left: 2.9em;
  padding-top: 2.5em;
  font-size: 25px;
}

li#Opt_li_Home_Perfil {
  background-color: rgba(196, 196, 196, 0.089);
  border-bottom: 2px solid #000000;
}

li#Opt_li_Perfil {
  background-color: rgba(196, 196, 196, 0.5);
  border-bottom: 3px solid #000000;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
}


li#Opt_li_Home_Perfil:hover {
  background-color: rgba(196, 196, 196, 0.3);
}

a.Opt_Home_Perfil:active {
  background-color: rgba(196, 196, 196, 0.5);
  width: 4.6em;
  height: 4.6em;
  border-bottom: 3px solid #000000;
  border-left: 3px solid #000000;
}


.Option_Quit_Perfil {
  display: flex;
  width: 16%;
  height: 10.2em;
  margin: -0.1em;
}

ul#Opt_ul_Quit_Perfil {
margin: auto;
padding-left: 42px;
}

li#Opt_li_Quit_Perfil {
  padding-left: 1.9em;
  width: 3.9em;
  height: 4.53em;
  margin-top: -1em;
  padding-left: 1em;
}

.Opt_a_Quit_Perfil {
  line-height: 6;
  text-align: center;
  padding-bottom: 2em;
  font-size: 30px;
  max-width: 6.4em;
  width: 6.35em;
  height: 4.42em;
  background-color: #8be4ff;
  border: 2px solid #000000;
}

a.Opt_a_Quit_Perfil:active {
  background-color:rgba(253, 5, 5, 0.651);
  border-bottom: 3px solid #000000;
  border-left: 2px solid #000000;
  border-top: 3px solid #000000;
}

.Container_Perfil {  /* barreira entre Nav e área perfil*/
  width: 100%;
  height: 4em;
  background-color: #8be4ff;
}

  /* Início área info perfil*/
.Area_Perfil {
  flex-flow: nowrap;
  display: flex;
  margin: auto;
  background-color: #ffffff;
  width: 100%;
  height: 32.4em;
  border-top: 2px solid black;
  border-radius: 15px;
  box-shadow: 0px -15px 25px rgba(0, 0, 0, .4);
}

.Info_Perfil {
  width: 19%;
  height: 100%;
  margin-left: 15px;
  background-color: #ffffff;
  border-right: 2px solid #000000;
}

.Div_Img_Perfil {
  padding-top: 18px;
}

.Icon_edit_Perfil {
  width: 42px;
  height: 42px;
}

a#Icon_camera_Perfil {
  position: absolute;
  left: 11.8em;
  top: 24em;
}

p#Info_Perfil_Name {
  font-size: 35px;
  font-weight: 500;
}

.Resumo_Perfil_Info {
  width: 78%;
  background-color: #ffffff;
}

div#Email_Perfil, div#Birthday_Perfil, div#Stars_Perfil {
  padding-top: 60px;
  flex-flow: row nowrap;
  display: flex;
  align-items: center;
  vertical-align: middle;
  border-bottom: 2px solid #000000;
}

#p_Email_Perfil, #lbl_email_Perfil, #p_birth_Perfil, #p_date_birth_Perfil, #p_Stars_Perfil, #p_Total_Stars_Perfil {
  font-family: 'Inter', sans-serif;
}

#p_Email_Perfil, #p_birth_Perfil, #p_Stars_Perfil {
  width: 30em;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}

div#Space_Email_User_Perfil {
  font-size: 20px;
  text-align: left;
}

#lbl_email_Perfil, #p_date_birth_Perfil, #p_Total_Stars_Perfil {
  font-size: 20px;
}