@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lilita+One&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lilita+One&display=swap');

/* Tentei seguir uma padrão seguindo o ritmo do código, ou seja, 
para ir acompanhando o css, basta ler os o código de cima para baixo*/
body {
  background-color: #8be4ff;
}

.perfil {
  text-align: center;
  margin: auto;
}

nav#Navbar_Perfil {
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #ffffff;
  text-align: left;
  height: 160px;
  width: 100%;
}

.Area_Info_Perfil {
  flex-flow: row wrap;
  width: 317px;
  background-color: #ffffff;
  display: flex;
}

div#Area_Img_Perfil {
  width: 50px;
}

.Img_Perfil {
  margin: 2px 1px;
  width: 150px;
  height: 150px;
}

.Area_Name_Points_Perfil {
  margin: 15px auto;
  padding-left: 90px;
  padding-top: 10px;
  display: block;
  align-items: center;
}

p, a {
  font-family: 'Lobster', cursive;
}

p#Name_Perfil {
  font-size: 26px;
  font-weight: 500;
}

p#Total_Stars_Perfil {
  vertical-align: middle;
  align-items: center;
  font-size: 19px;
}

.Options_Nav_Perfil {
  display: flex;
  width: 1080px;
  background-color: #ffffff;
  border-left: 3px solid #000000;
}

nav#Navbar_Perfil ul#Opt_Nav_Perfil {
  list-style: none; 
  position: absolute;
  top: 0px;
  left: 261px;
}

nav#Navbar_Perfil li {
  height: 160px;
  width: 170px;
  display: inline-block;
}

.Opt_Home_Perfil, .Opt_Perfil, .Opt_a_Quit_Perfil {
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: #000000;
}

.Opt_Home_Perfil {
  width: 168px;
  height: 156px;
}

.Opt_Perfil {
  width: 163px;
  height: 156px;
}

.Opt_Home_Perfil, .Opt_Perfil {
  font-size: 25px;
  line-height: 6;
  text-align: center;
  margin: 1px;
}

li#Opt_li_Home_Perfil {
  background-color: rgba(196, 196, 196, 0.089);
  border-bottom: 2px solid #000000;
}

li#Opt_li_Perfil {
  background-color: rgba(196, 196, 196, 0.5);
  border-bottom: 3px solid #000000;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
}

li#Opt_li_Home_Perfil:hover {
  background-color: rgba(196, 196, 196, 0.3);
}

a.Opt_Home_Perfil:active {
  background-color: rgba(196, 196, 196, 0.5);
  width: 169px;
  height: 160px;
  border-bottom: 2px solid #000000;
  border-right: 3px solid #000000;
}


.Option_Quit_Perfil {
  display: flex;
  width: 230px;
  height: 160px;
  margin: auto;
}

ul#Opt_ul_Quit_Perfil {
  padding-left: 0px;
  width: 1px;
}

li#Opt_li_Quit_Perfil {
  width: 1px;
}

.Opt_a_Quit_Perfil {
  line-height: 5;
  text-align: center;
  padding-bottom: 2px;
  font-size: 30px;
  width: 211px;
  height: 160px;
  background-color: #8be4ff;
  border: 2px solid #000000;
}

a.Opt_a_Quit_Perfil:active {
  background-color:rgba(253, 5, 5, 0.651);
  border-bottom: 3px solid #000000;
  border-left: 2px solid #000000;
  border-top: 3px solid #000000;
}



  /* Início área info perfil*/
.Area_Perfil_User {
  display: flex;
  margin: 40px 5px 0px 5px;
  background-color: #ffffff;
  width: 1485px;
  height: 564px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px -15px 25px rgba(0, 0, 0, .4);
}

.Info_Perfil {
  width: 220px;
  height: 561px;
  margin-left: 15px;
  border-right: 2px solid #000000;
}

.Div_Img_Perfil {
  padding-top: 18px;
}

.Icon_edit_Perfil {
  width: 42px;
  height: 42px;
}

a#Icon_camera_Perfil {
  position: absolute;
  left: 158px;
  top: 328px;
}

p#Info_Perfil_Name {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}

.Resumo_Perfil_Info {
  width: 1230px;
  height: 450px;
}

div#Email_Perfil, div#Birthday_Perfil, div#Stars_Perfil {
  padding-top: 60px;
  display: flex;
  border-bottom: 2px solid #000000;
}

#p_Email_Perfil, #lbl_email_Perfil, #p_birth_Perfil, #p_date_birth_Perfil, #p_Stars_Perfil, #p_Total_Stars_Perfil {
  font-family: 'Inter', sans-serif;
}

#p_Email_Perfil, #p_birth_Perfil, #p_Stars_Perfil {
  width: 700px;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}

div#Space_Email_User_Perfil {
  font-size: 20px;
  text-align: left;
}

#lbl_email_Perfil, #p_date_birth_Perfil, #p_Total_Stars_Perfil {
  font-size: 20px;
}