@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


.sobre {
  text-align: center;
  margin: auto;
  background-color: #8BE3FF;
}

.Img_Sun_Sobre {
  position: absolute;
  bottom: 440px;
  right: 0px;
}

.Img_Cloud_Sobre {
  position: absolute;
  left: 250px;
  top: 75px;
}

.Img_Cloud_Sobre_2 {
  position: absolute;
  right: 290px;
  bottom: 170px;
}

.Content_area_Sobre {
  margin: 150px 10px 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sobreTitle {
  font-family: 'Lilita One', cursive;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 5em;
  color: #ffffff;
}

div.Area_About_Us_Sobre {
  width: 690px;
  height: 300px;
  max-width: 70em;
  max-height: 50em;
  margin-bottom: 22px;
}

.About_Us_Sobre {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 22px; 
  text-align: justify;
}

.Footer_Sobre {
  margin: 0px;
  text-align: center;
  padding-bottom: 1px;
  background-color: #ffffff;

}

button {
  background-color: transparent;
  border: none;
}

.Arrow_Back_Sobre {
  position: absolute;
  left: 8em;
  bottom: -1em;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  transform: translate(-50%,-50%);
}

.Title_page_Sobre {
  position: relative;
  left: 39.1em;
  top: 1em;
  max-width: 15em;
}

.Title_About_Sobre {
  font-family: 'Lilita One', cursive;
  font-size: 5em;
}

/*
@media only screen and (min-width : 320px) {

  .sobre {
    text-align: center;
    margin: 180px;
    background-color: #8BE3FF;
  }


  .Img_Sun_Sobre {
    position: absolute;
    top: 0px;
    left: 455.6px;
  }

  .Img_Cloud_Sobre {
    display: none;
  }
  
  .Img_Cloud_Sobre_2 {
    display: none;
  }
  
  .Content_area_Sobre {
    margin: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sobreTitle {
    font-family: 'Lilita One', cursive;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 5em;
    color: #ffffff;
  }
  
  div.Area_About_Us_Sobre {
    width: 700px;
    height: 300px;
    margin-bottom: 100px;
  }
  
}*/