
  #card_game {
  position: relative;
  margin: 1px;
  padding: 0;
  box-sizing: border-box;
 
  }

  #card_game #front {
    width: 100%;
    display: block;
    border: 3px solid #ffffff;
    border-radius: 6px;
   }

  #card_game #front {
    transform: rotateY(90deg);
    transition: all ease-in .2s;
    position: absolute;
  }

  #card_game #back {
    width: 100%;
    border: 3px solid #ffffff;
    border-radius: 6px;
    transition: all ease-in .2s;
    transition-delay: .2s; 
  }

#flipped #front {
  transform: rotateY(0deg);
  transition-delay: .2s; }

#flipped #back {
  transform: rotateY(90deg);
  transition-delay: 0s; }
